<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BodySense</title>
</head>

<body class="body">
    <header class="header">
        <div class="logo"><img src="assets/logo.jpg" url>
        </div>
        <ul>
            <li class="login"> <input class="logout" type="submit" value="Log In" (click)="login()"></li>
            <li class="singup"> <input class="logout" type="submit" value="Create Account" (click)="singup()"></li>
        </ul>
    </header>
    <br>
    <div class="vista">
        <div class="img_vista"><img src="assets/vista.jpg">
        </div>
        <div class="bodysense">
            <h2 class="titulo">BODYSENSE</h2>
            <ul class="bottom">
                <li class="descripcion">
                    <p>Discover BODYSENSE: your personalized wellness guide.  <br><br>
                        Feeling discomfort in your body? BODYSENSE has the solution. Take a photo of the affected area and get accurate information about possible issues and how to resolve them. Plus, we'll show you nearby medical centers for your convenience. <br><br>
                        Your health is our priority. Join BODYSENSE and take control of your well-being. Start your journey to a life free of discomfort right now!
                    </p>
                </li>
                <br>
                <li class="try"><input class="button" type="button" value="Try It" (click)="chat()">
                </li>
            </ul>
        </div>
    </div>
</body>

</html>